extends layout

block content
	header
		h1 Rando Corp
		h4 Applicant Admin
	main
		section.container
			form#search.form-inline
				fieldset
					legend Applicant Search
					.form-group
						label(for='sFName') First Name
						input(type='text' id='sFName' name='sFName' placeholder='Search First Name')
					.form-group
						label(for='sLName') Last Name
						input(type='text' id='sLName' name='sLName' placeholder='Search Last Name')
					.form-group
						label(for='sLocus') Desired Location
						input(type='text' id='sLocus' name='sLocus' placeholder='Search City, State')
					.form-group
						label(for='sSkills') Skills
						input(type='text' id='sSkills' name='sSkills' placeholder='Search Skills')
					.form-group
						input(type='submit' id='sSubmit' name='sSubmit')
		section.container
			h2.tableLabel Applicants
			table.table.results
				tr
					th First Name
					th Last Name
					th Desired Location
					th Last Employer
					th Skills
				for elem in applicants
					tr
						td= elem.fName
						td= elem.lName
						td= elem.desLocus
						td= elem.job1.employer
						td= elem.skills